#education .section__wrapper{
    display: grid;
    gap: 30px;
    grid-template-columns: 35% 60%;
}

#education .education__container{
    width: 100%;
    padding-bottom: 4rem !important ;
}

#education .client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: var(--grey-border);
}

#education .education{
    background-color: var(--color-ui-2);
    text-align: center;
    padding: 20px;
    border-radius: var(--border-radius-4);
    user-select: none;
}

#education .client__review{
    color: var(--color-text);
    font-weight: 300;
    font-size: 15px;
    display: block;
    width: 90%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
    

}

@media (max-width:950px){
    #education .section__wrapper{
        grid-template-columns: 100%;
    }
}